* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3c3c47;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 80%;
    height: 420px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    resize: none;
    margin-bottom: 3%;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="number"]{
    width: 0%;
    opacity: 0%;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 25px;
    background-color: #848c8c;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    animation: fadeIn 1.5s;
}

#tituloTexto {
    text-align: center;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 5%;
    margin-right: 5%;
}

#tituloImagen {
    height: 50%;
    width: 30%;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 1%;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    background-color: white;
    border-radius: 30px;
    border: 2px solid #848c8c;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    animation: fadeIn 2s;
}
main img{
    border-radius: 30px;
    margin: 50px;
    margin-right: auto;
    width: 80%;
}
.btn {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    background-color: white;
    transition: all 0.3s;
}

.btn:hover {
    color: white;
    background-color: #3c3c47;
}

footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    background-color: white;
    border-radius: 30px;
    border: 2px solid #848c8c;
    width: 80%;
    height: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#textoTambien {
    font-size: 80%;
    padding-top: 0.8%;
    padding-left: 1.5%;
}

nav {
    display: flex;
    margin-right: 2%;
    font-size: 80%;
    padding-top: 0.8%;
    text-decoration: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.confirmation-container{
    margin-top: 15%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 30px;
    background-color: #848c8c;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    animation: fadeIn 1s;
}

#estrellas{
    width: 100%;
    margin-left: 7%;
    margin-bottom: 2%;
}

form{
    width: 80%;
    margin-left: auto;
}

.register-container{
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
}

h2{
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
}

input[type="submit"] {
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    background-color: #848c8c;
    transition: all 0.3s;
}
input[type="submit"]:hover {
    color: white;
    background-color: #3c3c47;
}
#numero{
    width: 115%;
    margin-top: 3%;
    display: flex;
    justify-content: center; /* Add this line to center the content horizontally */
}
#numero p{
    text-align: center;
    margin-left: 5px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translatey(+30px);
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    header {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }
    main{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }
    main img{
        margin-top: -5%;
        margin-left: 10%;
    }

    #tituloImagen {
        margin-left: 42%;
    }

    #tituloTexto {
        margin-left: 5%;
    }
}