*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    display:flex;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%; 
    padding-top: 10px;
    padding-left: 1%;
    color: white;
    border: 10px solid #848c8c;
    border-radius: 15px;
    background-color: #848c8c;
}
body{
    background-color: #3c3c47;
}
#cuerpo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 20px;
    background-color: #848c8c;
    color: white;
    opacity: 100%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding:3%;
    width: 80%;
    text-align: justify;
}
#imagen{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#tituloTexto{
    padding-left: 20px;
    padding-top: 5px;
}
#equipo{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #848c8c;
}
h2{
    margin: 1%;
    color: white;
    text-align: center; 
}
.integrantes{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: white;
    width: 85%;
    display: flex;
    animation: reveal linear both;
    animation-timeline: scroll(root);
}
@keyframes reveal{
    0%{
        opacity: 0%;
        scale: 0%;
    }
    100%{
        opacity: 100%;
        scale: 100%;
    }
}
.integrantes #textos{  
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    background-color: #3c3c47;
    border-radius: 30px;
    margin-top: 22%;
    padding: 1.5%;
    padding-left: 10%;
    width: auto;
    height: 130px;
    margin-left: -5%;
    text-align: left;
}
.imagenesEquipo{
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    border: 10px solid #ccccd4;
    margin-top: 15%;
    border-radius: 100%;
    width: 30%;
    z-index: 1;
}
@media screen and (max-width:800px){
    
    #equipo{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: #848c8c;
    }
    .integrantes{
        margin-left: -5%;
        color: white;
        width: 100%;
        display: grid;
        animation: none;
    }
    .integrantes #textos{  
        margin-left: 9%;
        text-align: center;
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        scale: 80%;
        background-color: #3c3c47;
        border-radius: 30px;
        padding: 1.5%;
        width: auto;
    }
    .imagenesEquipo{
        margin-left: 35%;
        margin-bottom: -14%;
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        border-radius: 100%;
        width: 40%;
        z-index: 1;
    }
}
@media screen and (min-width:1000px) {
    .integrantes #textos{  
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        border-radius: 30px;
        margin-top: 20%;
        padding: 1.5%;
        padding-left: 10%;
        width: auto;
        height: 130px;
        margin-left: -7%;
        text-align: left;
    }
    .imagenesEquipo{
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        border: 10px solid #ccccd4;
        margin-top: 15%;
        border-radius: 100%;
        width: 30%;
        z-index: 1;
    }
}
@media screen and (min-width:1600px) {
    .integrantes #textos{         
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        border-radius: 30px;
        margin-top: 22%;
        padding: 1.5%;
        padding-left: 10%;
        width: auto;
        height: 130px;
        margin-left: -5%;
        text-align: left;
    }
    .imagenesEquipo{
        box-shadow: 10px 14px 20px rgb(34, 34, 34);
        border: 10px solid #ccccd4;
        margin-top: 15%;
        border-radius: 100%;
        width: 30%;
        z-index: 1;
    }
}