* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3c3c47;
}

.landing {
    overflow: hidden;
    background-color: #848c8c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
}

.landing .izquierda {
    margin-left: 20%;
    border-radius: 20px;
    width: 80%;
}

#primerTexto {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    margin-top: 15%;
    font-size: 150%;

}

#segundoTexto {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 50%;
    margin-top: 10%;
    font-size: 250%;
}

#tercerTexto {
    text-align: justify;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 50%;
    margin-top: 10%;
    font-size: 150%;
}

.landing .btn {
    margin-top: 14%;
    margin-bottom: 20%;
    width: 50%;
}

.landing .derecha {
    padding-top: 8%;
    padding-right: 20%;
    width: 100%;
}

.landing .derecha .imagen {
    border-radius: 20px;
    width: 100%;
    animation: movimiento 4s linear infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width:1600px) {

    #segundoTexto {
        width: 100%;
        scale: 100%;
    }

    #tercerTexto {
        width: 80%;
    }

    .landing .derecha {
        width: 110%;
        padding-top: 20%;
    }
    .landing .btn{
        width: 80%;
    }
}

@media screen and (max-width:800px) {
    .landing {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .landing #segundoTexto {
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        width: 80%;
        scale: 100%;
    }

    .landing #tercerTexto {
        width: 80%;
        scale: 100%;
    }

    .landing .btn {
        width: 80%;
    }

    .landing .derecha {
        width: 120%;
        padding-top: 0%;
    }

}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 25px;
    background-color: #848c8c;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
}

#tituloTexto {
    text-align: center;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 1.5%;
    margin-right: 5%;
}

#tituloImagen {
    height: 50%;
    width: 30%;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 1%;
}

@media screen and (max-width:800px) {
    header {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }

    #tituloImagen {
        margin-left: 42%;
    }

    #tituloTexto {
        margin-left: 5%;
    }

    #sesion {
        margin-left: 22%;
        text-align: center;
    }
}

#sesion {
    height: 100%;
    display: flex;
    margin-right: 10%;
}

#sesion a {
    padding: 10%;
    color: white;
    text-decoration: none;
}

#textoPregunta {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 150%;
    color: black;
}

#pregunta {
    width: 80%;
    color: black;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 30px;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    background-color: white;
    border: 2px solid #848c8c;
    display: flex;
    justify-content: center;
}

.tarjetas {
    display: flex;
    background-color: #ccccd4;
    border: 3px solid #b7b7c2;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#tar1 {
    text-align: center;
    margin-right: 3%;
    padding: 10px;
    transition: all 0.3s;
}

#tar1:hover {
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    transform: scale(1.05);
}

#tar2 {
    text-align: center;
    margin-right: 3%;
    padding: 10px;
    transition: all 0.3s;
}

#tar2:hover {
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    transform: scale(1.05);
}

#tar3 {
    text-align: center;
    margin-right: 3%;
    padding: 10px;
    transition: all 0.3s;
}

#tar3:hover {
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    transform: scale(1.05);
}

#tar4 {
    text-align: center;
    padding: 10px;
    transition: all 0.3s;
}

#tar4:hover {
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    transform: scale(1.05);
}

@media screen and (max-width:800px) {
    .tarjetas {
        display: grid;
        background-color: #ccccd4;
        border-radius: 20px;
        border: 3px solid #b7b7c2;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        height: 91%;
        margin-left: 8%;
        margin-top: 10%;
        background-color: white;
    }

    .card-body {
        background-color: white;
        width: 450%;
    }
}

@media screen and (max-width:1000px) {
    .tarjetas {
        display: grid;
        background-color: #ccccd4;
        border-radius: 20px;
        border: 3px solid #b7b7c2;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        height: 50%;
        margin-left: 10%;
        margin-top: 10%;
        background-color: white;
    }

    .card-body {
        margin-left: -10%;
        background-color: white;
        width: 350%;
    }
}


.btn {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    transition: all 0.3s;
}

.btn:hover {
    color: white;
    background-color: #3c3c47;
}
.recomendar {
    margin-top: 10%;
    overflow: hidden;
    background-color: #74748a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
}

.recomendar .izquierda {
    margin-left: 20%;
    border-radius: 20px;
    width: 80%;
}

.recomendar .btn {
    margin-top: 14%;
    margin-bottom: 20%;
    width: 50%;
}

.recomendar .derecha {
    padding-top: 8%;
    padding-right: 20%;
    width: 100%;
}

.recomendar .derecha .imagen {
    margin-top: 20%;
    border-radius: 20px;
    width: 100%;
    animation: movimiento 4s linear infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width:1600px) {

    #segundoTexto {
        width: 100%;
        scale: 100%;
    }

    #tercerTexto {
        width: 80%;
    }

    .recomendar .derecha {
        margin-top: -5%;
        width: 100%;
        padding-top: 20%;
    }
    .recomendar .btn{
        width: 80%;
    }
}

@media screen and (max-width:800px) {
    .recomendar {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .recomendar #segundoTexto {
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        width: 80%;
        scale: 100%;
    }

    .recomendar #tercerTexto {
        width: 80%;
        scale: 100%;
    }

    .recomendar .btn {
        width: 80%;
    }

    .recomendar .derecha .imagen {
        margin-top: -30%;
        margin-left: 12%;
        border-radius: 20px;
        scale: 80%;
        animation: movimiento 4s linear infinite;
    }

}

footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 14px 20px rgb(34, 34, 34);
    background-color: white;
    border-radius: 30px;
    border: 2px solid #848c8c;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#textoTambien {
    font-size: 80%;
    padding-top: 1.5%;
    padding-left: 1.5%;
}

nav {
    display: flex;
    margin-right: 2%;
    font-size: 80%;
    padding-top: 1.5%;
    text-decoration: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}